footer {
    text-align: center;
}

.logoimg{
    height: 45px;
    width: auto;
    text-align: center;
}

.navbar{
    background-color: #57747D;
}

.navbar-brand img {
    transition: transform 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.05);
}

.nav-link {
    transition: color 0.3s ease;
    font-weight: 500;
}

.nav-link:hover {
    color: #0d6efd !important;
}


/* Ajustes específicos para móviles */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #f8f9fa;
        padding: 1rem;
        border-radius: 0.375rem;
        margin-top: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }
}